@media (min-width: 768px){
	.navbar-vertical.navbar-expand-md .navbar-brand-img {
	    max-height: 3.5rem!important;
	}
}

.form-group {
    margin-bottom: 0.5rem!important;
}

label {
    margin-bottom: .25rem!important;
}