

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* utility styles */

.img-circle {
    border-radius: 100%;
}
#auth-user-name {
    font-weight:500;
}
.size60x60 {
    width:60px;
    height:60px;
}
.errors {
    color:red;
}
.invalid {
    border:1px solid red;
}

.display__none {
    display: none;
}

.btn-primary {
    background-color:#6f50ba;
    border-color:#6f50ba;
}

/* utility styles ends here */


.wrapper {
    display: flex;
    width:100%;
    align-items: stretch;
    background-color: #e5eafae0;
}



#contents {
    padding:40px;
    background-color: #e5eafae0;
} 

#sidebar.active {
    margin-left:-276px;
}

#sidebarToggle {
    display:block;
    border:none;
    outline:none;
    border-radius:4px;
}

.form-container {
    width:70%;
    margin: auto;
    margin-bottom: 40px;
    margin-top:10px;
}

form {
    width:70%;
}

a[data-toggle='collapse']{
    position: relative;
}

.dropdown-toggle:after{
    display: block;
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
}




@media (min-width:758px){
    #sidebarToggle {
        display: none;
    }
}


#main {
    width:100%;
}

#main nav {
    height:95px;
    background:linear-gradient(45deg,#4060be,#6f50ba);
    color:white;
}
#logout-div nav {
    background: unset;
    height:unset;

}

.dropdown-menu {
    position: absolute;
    left:unset;
    right:0px;
    border-radius:5px;
    text-align:center;
    min-width: 7rem;
    height:auto;
}
.dropdown-menu ul {
    padding-left:0px;
}

.dropdown-menu nav ul a {
    color:grey;
}


/* Side bar styles goes here */
@media(max-width:758px){

    #sidebar {
        margin-left: -276px;
    }

    #sidebar.active {
        margin-left: 0px;
    }
}


#sidebar {
    min-width:276px;
    max-width:276px;
    min-height:100vh;
    background-color: white;
    padding-top :20px;
    text-align: center;
}


#logo-nav-spacer {
    width:100%;
    height: 50px;
}

#sidebar nav > ul {
    list-style-type: none;
    padding-left: none;
}

#sidebar nav ul > li {
    margin-bottom:15px;
    padding:5px;
}


#sidebar nav ul li a{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
   
}

#sidebar nav ul li ul {
    list-style-type: none;
    margin-top:25px;
    padding-left: 20px;
}

#sidebar nav ul li a i {
    color:#6f50ba;
}

#sidebar nav ul li a span {
    color:#625c72;
}
/* Side bar styles ends here */